h1, h2, h3, h4
{
	margin: 5px;
	font-variant: small-caps;

}


h1
{
	padding-top: 20px;
}

h2
{
	text-decoration: underline;
}

h3
{
	font-style: italic;
	color: grey;
}

body
{
	max-width: 1500px;
	margin: auto;
}

#body_wrapper
{
	padding-top: 75px;
	padding-bottom: : 5%;
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	flex-direction: row;
}

#contact
{
	height: 85%;
	width: 220px;
	margin-right: 10px;
	padding-left: 20px;
	background-color: grey;
	position: fixed;
}

#experience
{
	background-color: lightgrey;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
}

.header
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.label
{
	width: 100px;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.content
{
	padding-left: 100px;
}


#white_box_top, #white_box_bottom
{
	background-color: white;
	position: fixed;
	width: 100%;
	height: 75px;
}

#white_box_top
{
	top: 0;
}

#white_box_bottom
{
	bottom: 0;
}