html
{
	font-family: Arial;
}

h1, h2, h3, h4
{
	margin: 5px;
	font-variant: small-caps;
}


h1
{
	text-transform: uppercase;
	padding-top: 20px;
	border-bottom: 1px solid;
}

h1, h2
{
	font-weight: normal;
}

h2
{
	text-decoration: underline;
}

h3
{
	font-style: italic;
	color: grey;
}

body
{
	background-color: lightblue;
	max-width: 1500px;
	margin: auto;
}

#body_wrapper
{
	padding-top: 75px;
	padding-right: 37px;
	padding-left: 37px;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	background-color: white;
}

#contact
{
	height: 85%;
	width: 180px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: lightblue;
	position: fixed;
}

#experience
{
	background-color: white;
	padding-left: 240px;
	padding-right: 20px;
	padding-bottom: 100px;
}

.header
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.label
{
	width: 100px;
	height: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.content
{
	padding-left: 100px;
}

li
{
	padding-bottom: 10px;
}

#box_top, #box_bottom
{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 875px;
	height: 75px;
}

#box_top
{
	top: 0;
}

#box_bottom
{
	bottom: 0;
}

#whitebox
{
	background-color: white;
	height: 50%;
}

#colorbox
{
	background-color: lightblue;
	height: 50%;
}